<form (ngSubmit)="create()">
    <div class="container">
      <h1>CRUD</h1>
       
      <hr>
  
      <label for="name"><b>Name </b></label>
      <input type="text" placeholder="Enter Employee name" name="name" id="name" [(ngModel)]="name"><br>
  
      <label for="age"><b>Age </b></label>
      <input type="number" placeholder="Enter Employee Age" name="age" id="age" required [(ngModel)]="age"><br>

      <label for="address"><b>Address </b></label>
      <input type="text" placeholder="Enter Employee address" name="address" id="address" required [(ngModel)]="address"><br>
  
  
      <hr>
  
  
      <button type="submit" class="createbtn">Create Employee</button>
    </div>
  
    
  </form>