<div class="container">
    <div class="row justify-content-center p-4">
      <div class="col-md-6">
        <form (ngSubmit)="reset()">
          <h3>Firebase Reset</h3>
          <div class="from-group p-2">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="enter EmailId" required>
          </div>
          <hr>
          <div class="from-group p-2">
            <button type="submit" class="btn btn-primary">RESET</button>
          </div>
          <br>
          <div class="p-2">
            <a routerLink="/login">Please login after resetting Your email</a>
          </div>
        </form>
      </div>
    </div>
  </div>