<form (ngSubmit)="register()">
  <div class="container">
    <h1>Register</h1>

    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required [(ngModel)]="email"><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" required [(ngModel)]="password"><br>


    <hr>


    <button type="submit" class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
  </div>
</form>
<div class="form-group">
  <p *ngIf="errorMessage.length > 0" class="text-danger"> {{errorMessage}} </p>
  <p *ngIf="error.message.length > 0" class="text-danger"> {{error.message}} </p>
  <p *ngIf="message.length > 0" class="text-danger"> {{message}} </p>
</div>
